@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

html,
body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
  padding: 20px;
}

body {
  position: relative;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 16px;
  margin-top: 58px;
}

.logo {
  width: 76px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.logo a {
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

section {
  width: 100%;
  background-color: white;
  margin-top: -80px;
}

.headline {
  display: flex;
  justify-content: center;
  background-image: url(./Images/Mobile-version/background-1.png),
    url(./Images/Mobile-version/background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 718px;
  flex-direction: column;
  align-items: flex-start;
  padding: 130px 24px;
}

.menu {
  display: none;
}

.headline h1 {
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  list-style: none;
  color: #172b4d;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline p {
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 6px;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #344563;
  margin-top: 20px;
}

.headline h3 {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: justify;
  font-size: 15px;
  line-height: 24px;
  margin-top: 80px;
  padding-top: 0;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
}

.social-media-icons ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0;
}

.social-media-icons .twitter,
.linkedin,
.mail,
.github {
  margin-right: 10px;
  margin-left: 0;
}

.social-media-icons .mail {
  height: 20px;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

#work {
  display: grid;
  background: #e5e5e5;
  padding-left: 17px;
}

.card-work {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.desktop {
  display: none;
}

.snapshot-portfolio {
  width: 100%;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.portfolio {
  height: 220px;
  width: 300px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.project-title {
  margin: 0;
  line-height: 43px;
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  font-family: "poppins", sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 4px;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.content .clint {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.content .counter {
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #c1c7d0;
}

.content .role {
  height: 16px;
  width: 106px;
  top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 16px;
  color: #7a869a;
}

.year {
  height: 16px;
  width: 29px;
  top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7a869a;
  line-height: 16px;
  font-size: 13px;
}

.description {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 5px;
  margin-left: 5px;
}

.card-work ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mainmenu->li {
  margin: 10px;
  list-style: none;
}

.pop-window {
  height: 100vh;
  width: 80%;
  margin-left: 10%;
  padding: 2%;
  background-color: #fff;
}

.mobile-part-class {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.pop-header-img {
  width: 96%;
  height: 586px;
}

.pop-header-description {
  margin-right: 4%;
}

#general_inf {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.project_description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 8px;
  text-align: justify;
  margin-bottom: 8px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  overflow: auto;
  margin-bottom: 30px;
}

.skills li {
  margin: 5px;
  background-color: #ebebfe;
  border-radius: 25%;
  margin-right: 10px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  list-style: none;
  text-align: center;
}

.external_link {
  border: 1px solid #396df2;
  border-radius: 5px;
  width: 124px;
  height: 60px;
  top: calc(50% - 48px / 2);
  margin-top: 16px;
  padding: 10px;
  text-align: center;
  margin-bottom: 32px;
}

.external_link a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #396df2;
  text-align: center;
}

.general {
  width: 47%;
  gap: 10px;
}

.card-work ul li {
  display: inline;
}

.mainmenu>li:hover {
  margin: 10px;
  list-style: none;
  margin-right: 3px;
}

.card-work .main-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 230px;
  height: 34px;
}

.card-work .button {
  display: flex;
  align-items: center;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 4px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  margin-left: 7px;
}

.card-work .buttons {
  width: 295px;
  height: 52px;
  display: flex;
  align-items: center;
}

.card-work .btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 124px;
  height: 48px;
  line-height: 24px;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 10px;
}

.btn-project {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  margin-right: 157px;
}

.card-work .btn-project {
  border: 1px solid #6070ff;
  color: #396df2;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: flex-start;
}

.card-work .btn-project:hover {
  background: #6070ff;
  color: #fff;
}

.card-work .btn-project:active {
  background: #2230d2;
  color: #fff;
}

.card-work .btn-project:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.about-myself {
  background-color: white;
  border-top-right-radius: 80px;
  width: 100%;
  padding: 114px 34px;
}

.first .intro {
  height: 101px;
  width: 327px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}

.info {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 10px;
}

.btn-resume {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 150px;
  height: 48px;
  line-height: 24px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #6070ff;
  color: #396df2;
  background-color: #fff;
  margin-top: 60px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.btn-resume:hover {
  background: #6070ff;
  color: #fff;
}

.btn-resume:active {
  background: #2230d2;
  color: #fff;
}

.btn-resume:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 464px;
}

.second .language {
  display: flex;
  flex-direction: column;
  height: 320px;
  align-items: flex-start;
  width: 100%;
}

.second .language .lang-section {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.second h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.second .languages {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  height: 248px;
}

.second .lname {
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 12px;
  gap: 16px;
}

.second .lang h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #7f8cff;
}

.l-connect {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 20px;
}

.second .last {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 13px;
  padding-right: 20px;
  border-bottom: 1px solid #dfe1e6;
  margin-top: 10px;
}

.second .skill {
  margin-top: 10px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 24px;
  border-bottom: 1px solid #dfe1e6;
}

.contact {
  height: 779px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  outline: none;
  background-image: url(./Images/Mobile-version/contact-1.png),
    url(./Images/Mobile-version/contact-2.png);
  background-position: right top, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%;
}

.contact-title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #fff;
  display: flex;
  height: 56px;
  margin-top: 20%;
  margin-left: 18%;
}

.contact-description {
  margin-top: 2%;
  height: 102px;
  font-family: "Poppins", Arial, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ebebff;
}

.inputs {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  outline: none;
  border: none;
}

#name,
#email {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  margin: 10px 20px;
  padding-left: 12px;
  padding-top: 4px;
  border: 1px solid #fff;
}

#message {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  border-radius: 8px;
  width: 327px;
  height: 170px;
  margin: 10px 20px;
  padding-left: 12px;
  padding-top: 12px;
  border: none;
  outline: none;
}

.get-touch {
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  width: 120px;
  height: 48px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  gap: 12px;
  padding: 4px 14px;
  border: 1px solid #fff;
}

.get-touch:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px solid #6070ff;
}

.get-touch:active {
  background-color: #2230d2;
  color: #fff;
}

.get-touch:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.Shape {
  width: 132px;
  margin-left: 39%;
  margin-top: 6%;
}

#nav {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
  background-color: white;
}

#nav nav:hover {
  cursor: pointer;
}

#nav .logo {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 24px;
  margin-top: 20px;
  width: 25%;
  margin-right: 60%;
}

header #nav .logo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

#nav .logo:hover {
  text-decoration: underline;
  text-decoration-color: #23a3fa;
}

.hamburger {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.mainmenu {
  height: 20px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 10px 12px;
}

.mainmenu i {
  color: #505f79;
  font-size: 21px;
}

#nav .mainmenu li a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

@media only screen and (max-width: 768px) {
  .inf {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 0;
    color: #344563;
  }

  .pop-header {
    display: flex;
    width: 100%;
  }

  .pop-window {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
    width: 95%;
    margin-left: 2.5%;
    padding: 3%;
  }

  .pop-header-h3 {
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 32px;
    color: #172b4d;
    font-family: "Poppins", sans-serif;
    line-height: 44px;
  }

  .pop-header-div {
    float: right;
    margin-left: 70%;
  }

  .mainmenu {
    display: none;
    text-decoration: none;
  }

  .project_image {
    width: 97%;
    height: auto;
    padding: 5%;
  }

  .general {
    width: 100%;
    padding: 5%;
  }

  .project {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    height: 540px;
    margin-right: 0;
    grid-column-gap: 30px;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 2.5%;
  }

  span {
    margin-left: 5%;
    color: white;
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .pop-header-div {
    justify-content: flex-end;
    float: right;
    margin-top: -4%;
  }

  .pop-header-h3 {
    color: #091e42;
    font-weight: 700;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    line-height: 52px;
    text-align: left;
    width: 1056px;
    height: 40px;
  }

  .inf {
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 40px;
  }

  .pop-header-description {
    width: 65%;
    margin-right: 4%;
    font-weight: 400;
    font-size: 16px;
  }

  .mobile-part-class {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .project {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 25px 13px 25px 25px;
    margin-left: 15%;
    margin-right: 0;
    grid-column-gap: 30px;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 2.5%;
  }

  .project_image {
    width: 47%;
    height: 97%;
  }

  .pop-header-img {
    width: 96%;
    height: 586px;
  }

  body {
    background: #e5e5e5;
    font-family: "Poppins", sans-serif;
  }

  #nav nav {
    display: none;
  }

  #nav .logo {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #6070ff;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 24px;
    margin-top: 20px;
    width: 25%;
    margin-right: 60%;
  }

  header #nav .logo {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  #nav .logo:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
  }

  .menu {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    padding-bottom: 39px;
  }

  nav .mainmenu {
    list-style-type: none;
    padding: 20px;
    gap: 30px;
  }

  .menu-bar {
    width: 30%;
    column-gap: 30px;
    display: flex;
    justify-content: space-around;
    padding-right: 10%;
  }

  .MB {
    display: inline;
    list-style-type: none;
  }

  .menu ul li a {
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .headline {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 80px;
    height: 600px;
    width: 100%;
  }

  .headline h1 {
    width: 100%;
    height: 120px;
    margin-left: 17%;
    margin-top: -10%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    list-style: none;
    color: #172b4d;
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .headline p {
    width: 70%;
    height: 100px;
    margin-left: 17%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    margin-top: 1%;
  }

  .headline .connect {
    color: #7f8cff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
    margin-left: 17%;
  }

  .headline .social-media-icons {
    margin-left: 17%;
  }

  .social-media-icons ul {
    display: flex;
    list-style-type: none;
    width: 160.17px;
    height: 20px;
    margin-top: 10px;
  }

  #work {
    display: grid;
    padding: 40px 24px;
    background: #e5e5e5;
    padding-right: 8%;
    text-align: center;
    font-size: 25px;
    font-family: "poppins", sans-serif;
  }

  .snapshot-portfolio {
    display: none;
  }

  .card-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 12px;
    gap: 12px;
    width: 90%;
    height: 572px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .card-work .left {
    width: 97%;
    height: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-work .right {
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .desktop {
    display: flex;
    width: 90%;
    height: 90%;
  }

  .project-title {
    margin-top: 12px;
    margin-left: 10px;
  }

  .content {
    margin-top: 10px;
    margin-left: 10px;
  }

  .description {
    margin-bottom: 10px;
    padding-left: 0;
    margin-left: 10px;
  }

  .card-work .main-button {
    padding-top: 20px;
    margin-right: 0;
    margin-left: 13px;
  }

  .card-work .more {
    margin-bottom: 75px;
    padding-left: 15px;
  }

  #card-two .left,
  #card-four .left {
    order: 1;
  }

  .about-myself {
    background-color: white;
    border-top-right-radius: 10%;
    width: auto;
    height: 660px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .about-myself .second {
    width: 620px;
    padding-left: 20px;
    margin-right: 5%;
  }

  .about-myself .first {
    padding-right: 20px;
    margin-left: 10%;
  }

  .info {
    width: 407px;
    height: 102px;
    text-align: justify;
    margin-right: 2px;
  }

  .first .social-icon {
    margin-left: 5%;
  }

  .about-myself .second .lang-section {
    width: 604px;
    display: flex;
    justify-content: space-between;
  }

  .about-myself .language {
    width: 684px;
    height: 216px;
  }

  .about-myself .second .languages {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 144px;
  }

  .languages .lname {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 122px;
    height: 120px;
  }

  .languages .lname img {
    width: 48px;
    height: 48px;
  }

  .languages .lname h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .about-myself .second .last {
    width: 684px;
  }

  .about-myself .second .skill {
    width: 684px;
  }

  .contact {
    background-image: url(./Images/Desktop-version/backgroung-3.png),
      url(./Images/Desktop-version/background-4.png);
    background-size: 1520px;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 800px;
    width: 100%;
    margin: auto;
    padding-right: 0;
    margin-right: 0;
  }

  .contact .contact-title {
    width: 801px;
    margin-top: 10%;
    margin-left: 40%;
    font-size: 40px;
  }

  .contact-description {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
  }

  .contact-form {
    width: 100%;
    left: 20px;
  }

  #name,
  #email,
  #message {
    width: 447px;
  }

  .get-touch {
    text-align: center;
    margin-left: 47%;
  }

  .Shape {
    margin-left: 47%;
  }

  span {
    margin-left: 33%;
    color: white;
    font-size: 22px;
  }
}